[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]

[requires]
python_version = "3.4"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
dask = "*"
distributed = "*"
dask-ml = {extras = ["complete"]}
tensorflow = "==1.5.0"
"h5py" = "*"
graphviz = "*"
pydot = "*"
keras = "*"
uproot = "*"
paramiko = "*"
bokeh = "*"
pandas = "==0.20"
backports-abc = "*"
